// ######################################## //
// ########## Projects variables ########## //
// ######################################## //

/*Color styles*/
$LittleLemonGreen: #495E57;
$LittleLemonYellow: #F4CE14;
$LittleLemonPeach: #EE9972;
$LittleLemonBeige: #FBDABB;
$HighlightWhite: #EDEFEE;
$HighlightBlack: #333333;
$ErrorRed: #E54A2E;

/*Shadow styles*/
$PrimaryShadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);

/*Text styles*/
@font-face {
    font-family: 'Karla';
    src: url('./fonts/Karla-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Markazi Text';
    src: url('./fonts/MarkaziText-VariableFont_wght.ttf') format('truetype');
}

:root {
    --my-chosen-headline-size: calc(clamp(3rem, 10vw, 6rem));
    --my-chosen-cardhead-size: clamp(1.5rem, calc(10vw*0.4), calc(6rem*0.3));
}

h1 {
    font-family: 'Markazi Text';
    font-size: var(--my-chosen-headline-size);
    line-height: 50%;
}

h2 {
    font-family: 'Markazi Text';
    font-size: calc(var(--my-chosen-headline-size)*0.6);
}

h3 {
    font-family: 'Markazi Text';
    font-size: calc(var(--my-chosen-headline-size)*0.4);
}

h4 {
    font-family: 'Markazi Text';
    font-size: var(--my-chosen-cardhead-size);
}

p {
    font-family: 'Karla';
}

li{
    font-family: 'Karla';
}

/* v styles */
$BigCornerRadius: 16px;
$SmallCornerRadius: 8px;
$LowerGeneralPageMinColumnRequirement: 800px;
$HigherGeneralPageMinColumnRequirement: 1232px;
$HigherGeneralvMaxWidth: 1200px;
$GeneralContainerMarginSize: 0 16px 0 16px;
$GeneralStripeSpacing: 64px 16px;

button {
    display: block;
    margin: 1.5em auto;
    padding: 20px 32px 20px 32px;
    border-radius: $BigCornerRadius;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
}

button:hover{
    cursor: pointer;
}


// ##################################### //
// ########## Project Styling ########## //
// ##################################### //

// ##  Home Page, Nav and Footer  ## //

/* This is where the styling for the headersection begins */

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: $GeneralContainerMarginSize;
    font-family: 'Karla', sans-serif;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    img {
        width: calc(clamp( 160px, 160px + (1vw *5), 240px));;
    }


    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        list-style-type: none;
        justify-content: center;
        padding: 0 24px;

        li a {
            text-decoration: none;
            color: $LittleLemonGreen;
            font-size: calc(clamp( 12px, 1em + (1vw *0.5), 24px));
            font-weight: 500;
        }

        li a:hover{
            color: #ccc;
        }
    }
}

@media (min-width: $LowerGeneralPageMinColumnRequirement) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            gap: 1.5em;
            padding: 0;
        }
    }
}

@media (min-width: 1080px) {
    nav {
        font-weight: medium;
    }
}

@media (min-width: $HigherGeneralPageMinColumnRequirement) {
    nav {
        max-width: $HigherGeneralvMaxWidth;
        margin: 0 auto;
    }
}


/* This is where the hero section goes */

.hero-section {
    background-color: $LittleLemonGreen;
    height: 720px;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    color: $HighlightWhite;
}

.hero-content {
    margin: $GeneralContainerMarginSize;
    justify-content: space-between;
}


.page-headline h1, .page-headline h2 {
    margin: 0;
    padding: 0;
}

.opening-text{
    margin: 1em 0 0 0;
}

#Yellow-Button {
    background-color: $LittleLemonYellow;
    color: $HighlightBlack;
    border: 2px solid $LittleLemonYellow;

}

#Yellow-Button:hover{
    background-color: transparent;
    border: 2px solid $LittleLemonYellow;
    color: $LittleLemonYellow;
}

#Yellow-Button:disabled{
    background-color: #ccc;
    color: #555555;
    border: 2px solid #ccc;
    cursor: not-allowed;
}

#White-Button {
    background-color: $HighlightWhite;
    color: $HighlightBlack;
    border: 2px solid $HighlightWhite;

}

#White-Button:hover{
    background-color: transparent;
    color: $HighlightWhite;
    border: 2px solid $HighlightWhite;
}

.image-container img {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: $BigCornerRadius;
    box-shadow: $PrimaryShadow;
}

@media (min-width: $LowerGeneralPageMinColumnRequirement) {
    .hero-section {
        height: 352px;
    }

    .hero-content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: $GeneralContainerMarginSize;
    }

    .intro-text {
        flex: 0 0 60%;
        margin-bottom: 10px;

        p {
            margin: 2em 3em 0 0;
        }

        button {
            margin: 3em 3em 0 0;
        }

    }

    .image-container {
        flex: 0 0 40%;

        img {
            max-width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }
}

@media (min-width: $HigherGeneralPageMinColumnRequirement) {
    .hero-content {
        max-width: $HigherGeneralvMaxWidth;
        margin: 0 auto;
    }
}


/* This is where the styling for the SpecialsSection goes */

.specials-section {
    display: flex;
    flex-direction: column;
    padding: 92px 0;
    justify-content: space-between;
    margin: $GeneralContainerMarginSize;

    h2{
        margin-bottom: 32px;
    }

    button {
        background-color: $HighlightBlack;
        color: $HighlightWhite;
        margin: 40px auto;
        border: 2px solid $HighlightBlack;
    }

    button:hover{
        border: 2px solid $HighlightBlack;
        background-color: transparent;
        color: $HighlightBlack;
    }
}

.Card-Container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    .Card {
        width: 100%;
        background-color: $HighlightWhite;
        border-radius: $BigCornerRadius;
        box-shadow: $PrimaryShadow;
        overflow: hidden;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .Card-WS {
            padding: 0 16px 16px 16px;
            display: flex;
            flex-direction: column;

            .Name_Price-Column {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;

                h4{
                    margin: 4px 0 0 0;
                    padding: 0;
                }

                p {
                    color: $LittleLemonPeach;
                    font-size: calc(var(--my-chosen-cardhead-size)*0.7);
                    margin: 4px 0 0 0;
                    padding: 0;
                    font-weight: bold;
                }
            }

            button {
                display: flex;
                align-items: center;
                font-size: 1em;
                padding: 8px 16px;
                background-color: $HighlightWhite;
                color: $HighlightBlack;
                border: 2px solid $HighlightBlack;
                margin: auto auto 0 0;

                img{
                    max-width: 1.5em;
                    height: auto;
                    margin-right: 8px;
                }
            }
            button:hover{
                background-color: #ccc;
            }
        }
    }
}


@media (min-width: $LowerGeneralPageMinColumnRequirement) {
    .specials-section {
        padding: 64px 0;

        .Card-Container {
            flex-direction: row;

            .Card {
                width: 33.3%;

                .Card-WS {
                    height: 14em;
                }
            }
        }
    }
}

@media (min-width: $HigherGeneralPageMinColumnRequirement) {
    .specials-section {
        max-width: $HigherGeneralvMaxWidth;
        margin: 0 auto;
    }
}


/* This is where the styling for the Testimonials Section goes */

.testimonials-section {
    background-color: $LittleLemonBeige;
    height: auto;
    padding: $GeneralStripeSpacing;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
}

.testimonials-section h2{
    margin: $GeneralContainerMarginSize;
    margin-bottom: 32px;
}

.T-Card-Container{
    margin: $GeneralContainerMarginSize;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
}

.T-Card{
    display: flex;
    flex-direction: column;
    border-radius: $BigCornerRadius;
    background-color: $LittleLemonBeige;
    box-shadow: $PrimaryShadow;
    padding: 24px;

    .Picture-n-Name{
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 66%;
            aspect-ratio: 1/1;
            border-radius: 100%;
            border: 2px solid $HighlightBlack;
            margin-bottom: 8px;
        }

        div{
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                margin: 0;

                strong{
                    font-size: 1.5em;
                    color: $HighlightBlack;
                }

                b{
                    color: #555555;
                }
            }
        }
    }
}

.Stars{
    width: 80%;
    display: flex;
    margin: auto auto 0 auto;
}

@media (min-width: 480px){
    .T-Card-Container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px){
    .T-Card-Container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: $HigherGeneralPageMinColumnRequirement){
    .testimonials-section h2{
        max-width: $HigherGeneralvMaxWidth;
        margin-left:  auto;
        margin-right: auto;
    }

    .T-Card-Container{
        max-width: $HigherGeneralvMaxWidth;
        margin: 0 auto 32px auto;
    }
}


/* This is where the styling for the Final Section goes */

.final-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: $GeneralStripeSpacing;

    img{
        width: 200px;
    }
    #Yellow-Button{
        margin: 0 auto;
    }
}

.final-little-lemon-location h2, .final-little-lemon-location h3 {
    margin: 0;
    padding: 0;
    line-height: 80%;
}


@media (min-width: $LowerGeneralPageMinColumnRequirement){
    .final-section{
        max-width: 800px;
        margin: 0 auto;
    }
}


/* This is where the styling for the footer goes */

footer {
    background-color: $LittleLemonGreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $GeneralStripeSpacing;
    gap: 64px;

    .Logo-n-subscriptionform{
        display: flex;
        align-items: center;
        gap: 80px;
        flex-wrap: wrap;
        justify-content: center;

        img{
            width: 160px;
        }
    }
    .Nav-n-Contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        ul{
            display: flex;
            list-style-type: none;
            font-weight: medium;
            margin: 0;
            flex-wrap: wrap;
            justify-content: center;

            li a{
                text-decoration: none;
                color: white;
            }
        }

        .Footer-Navigation{
            padding: 0;
            font-size: clamp(24px, calc(5vw), 32px);
            /*font-size: 32px;*/

            li{
                padding: 0 40px;
            }
        }

        .Footer-Contact-Info{
            padding: 0;
            font-size: clamp(16px, calc(4vw), 24px);

            li{
                padding: 0 24px;
            }
        }
    }

    .SoMe-Container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
        grid-auto-flow: dense;
    }

    .Powered-by-container{
        display: flex;
        gap: 1em;
        align-items: center;
        color: white;

        a{
            font: 'Karla';

            img{
                height: 40px;
            }
        }
    }
}

.News-Letter-Sign-Up-Form{
    display: flex;
    flex-direction: column;
    font-family: 'Karla';
    gap: 16px;
    color: white;

    .Subscription-label{
        font-size: 24px;
        font-weight: medium;
    }

    div{
        display: flex;
        height: 48px;
        width: 320px;

        input{
            display: flex;
            width: 100%;
            background-color: transparent;
            border: solid 2px white;
            border-radius: 8px 0 0 8px;
            color: white;
            font-weight: 200;
            padding: 8px;
        }

        input::placeholder{
            color: white;
            font-family: 'Karla';
        }

        input:focus{
            outline: none;
            box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
        }


        button{
            background-color: white;
            border: 2px solid white;
            border-left: 0;
            display: flex;
            margin: 0;
            padding: auto 16px;
            align-items: center;
            border-radius: 0px 8px 8px 0px;
        }
        button:hover{
            background-color: #ccc;
            cursor: pointer;
        }
    }

}

// ### checkboxes ### // This is a mess that needs to be cleaned because of repeatability

#Reservations-Form #Reservation-Inputfields-Container .checkbox-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;

    input[type="checkbox"]{
        appearance: none;
        -webkit-appearance: none;
        width: 28px;
        height: 28px;
        margin: 0;
        padding: 0;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        outline: none;
        align-items: center;
        justify-content: center;
    }

    input[type="checkbox"]:after {
        font-family: "Font Awesome 6 Free";
        content: "\f00c";
        font-weight: 900;
        font-size: 20px;
        color: $HighlightWhite;
        display: none;
      }

    input[type="checkbox"]:hover{
        background-color: #CCCCCC;
    }

    input[type="checkbox"]:checked:after {
        display: block;
      }

    // .custom-checkbox{
    //     position: absolute;
    //     background-color: $LittleLemonGreen;
    //     border: 2px solid white;
    //     border-radius: 4px;
    //     width: 24px;
    //     height: 24px;
    //     margin: 0;
    //     cursor: pointer;
    // }

    // .custom-checkbox:hover{
    //     background-color: #CCCCCC;
    // }
}

// #Reservations-Form #Reservation-Inputfields-Container .checkbox-wrapper label:before{
//     content: "";
//     display: inline-block;
//     width: 24px;
//     height: 24px;
//     background-image: url('/Form-Image-Content/ChosenCheckMark.png');
//     background-size: contain; /* Make sure the image fits within the checkbox */
//     background-repeat: no-repeat; /* Prevent the image from repeating */
//     background-position: center; /* Center the image within the checkbox */
//     position: absolute;
//     top: 0;
//     left: 0;
// }

.TCE{
    display: flex;
    flex-direction: column;

    .Terms-n-conditions{
        display: flex;
        gap: 2px;

        p{
            margin: 0;
            padding: 0;
            font-size: 12px;
        }

        a{
            margin: 0;
            padding: 0;
            font-size: 12px;
            text-decoration: underline;
        }

        a:hover{
            cursor: pointer;
        }
    }
    .error-message{
        font-family: 'karla';
        font-weight: 400;
        color: $ErrorRed;
        margin: 0;
    }
}

@media (min-width: 400px) {
    footer .SoMe-Container{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 48px;
    }
}


// ##########  About  ########## //

.About-Page-Container{
    border-top: 1px solid $LittleLemonGreen;
    display: flex;

    .Main-About-Section{
        display: flex;
        padding: $GeneralStripeSpacing;
        gap: 40px;
        flex-direction: column-reverse;

        img{
            max-width: 100%;
            border-radius: $BigCornerRadius;
            box-shadow: $SmallCornerRadius;
        }

        div{
            max-width: 100%;

            h2{
                margin-top: 0;
            }

            p{
                color: $HighlightBlack;
                font-size: calc(var(--my-chosen-cardhead-size)*0.7);
            }
        }
    }
}

@media (min-width: 1000px){
    .About-Page-Container .Main-About-Section{
        flex-direction: row;
        align-items: center;

        img{
            max-width: 50%;
        }

        div{
            max-width: 50%;
        }
    }
}

@media (min-width: $HigherGeneralPageMinColumnRequirement) {
    .Main-About-Section {
        max-width: $HigherGeneralvMaxWidth;
        margin: 0 auto;
        padding: 0;
    }
}

// ##########  Reservations  ########## //

.Reservations-Page-Container{
    border-top: 1px solid $LittleLemonGreen;
    padding-bottom: 64px;

    .Outermost-Form-Container{
        display: flex;
        flex-direction: column;
        background-color: $LittleLemonGreen;
        border-radius: $BigCornerRadius;
        padding: 80px 160px;
        color: white;
    }
}

.Reservations-Form-Content{
    display: flex;
    flex-direction: column;
}

#Reservations-Form{
    display: flex;
    flex-direction: column;
    gap: 56px;

    #Reservations-Step-Header{
        display: flex;
        flex-direction: column;

        h3{
            margin: 24px, 0;
        }

        .Reservations-Form-Progress-Line{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;


            #White-Line{
                flex: 1;
                height: 0.125em;
                background-color: $HighlightWhite;
                border-radius: 0.0625em;
            }
        }
    }

    #Reservation-Inputfields-Container{
        display: flex;
        flex-direction: column;
        padding: 40px;
        padding-bottom: 64px;
        border: 2px solid $HighlightWhite;
        border-radius: 16px;
        gap: 16px;
        font-size: 20px;
        position: relative;

        .Seating-Label{
            display: flex;
            line-height: 0;

            span{
                color: $ErrorRed;
            }
        }

        .Seating-Container{
            display: flex;
            flex-direction: column;
            gap: 8px;

            .Seating-Selection-Card{
                display: flex;
                border: 2px solid $HighlightWhite;
                border-radius: 8px;
                width: 100%;
                background-color: transparent;
                overflow: hidden;
                color: $HighlightWhite;
                gap: 12px;
                align-items: center;
                cursor: pointer;
                input[type="radio"] {
                    display: none;
                }

                img{
                    height: 140px;
                    width: 100%;
                    object-fit: cover;
                    border-left: $HighlightWhite 2px solid;
                }

                div{
                    width: 11em;
                    padding: 16px 24px;

                    h4{
                        margin: 0;
                    }
                    // input[type="radio"] {
                    //     appearance: none;
                    //     -webkit-appearance: none;
                    //     -moz-appearance: none;
                    //     width: 0;
                    //     height: 0;
                    //     margin: 0;
                    //     padding: 0;
                    //     border: none;
                    //     position: absolute;
                    //     pointer-events: none;
                    //   }
                }
            }

            .Seating-Selection-Card:hover{
                background-color: #ccc;
                color: $HighlightBlack;

                img{
                    filter: brightness(110%);
                }

            }

            .Seating-Selection-Card.selected {
                color: $HighlightBlack;
                background-color: $HighlightWhite;

                img{
                    filter: brightness(110%);
                }
            }

        }

        #Seating-Option{
            width: 16px;
            height: 16px;
        }

        label{
            position: relative;

            span{
                color: $ErrorRed;
            }

            select{
                width: 100%;
                height: 2.5em;
                background-color: transparent;
                border: 2px solid $HighlightWhite;
                border-radius: 0.5em;
                padding: 0 0.5em;
                font-size: 20px;
                color: $HighlightWhite;
                font-family: 'Karla';
                appearance: none;
            }

            .Select-Icon-Contaier{
                position: absolute;
                right: .5em;
                bottom: .2em;
                pointer-events: none;
            }

            input{
                width: 100%;
                height: 2.5em;
                background-color: transparent;
                border: 2px solid $HighlightWhite;
                border-radius: 0.5em;
                padding: 0;
                padding-left: 0.5em;
                font-size: 20px;
                color: $HighlightWhite;
                font-family: 'Karla';
                box-sizing: border-box;
            }

            input::placeholder{
                color: $HighlightWhite;
                font-family: 'Karla';
            }

            .error-input{
                border: 2px solid $ErrorRed;
            }
        }
    }

    #Reservation-Form-Buttons-Container{
        display: flex;
        justify-content: space-between;

        button{
            margin: 0;
        }
    }
}

.Reservations-Confirmation-Page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    img{
        width: 15%;
    }

    .Dear-Guest{
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
            margin: 0;
        }
    }

    .Booking-Details-Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        border: $HighlightWhite 2px solid;
        border-radius: 16px;
        width: 100%;
        font-size: calc(var(--my-chosen-headline-size)*0.3);

        .Booking-Information{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            
            p{
                margin: 8px 16px;
            }
        }

        .Booking-Comment-Container{
            width: fill;
            border: $HighlightWhite 2px solid;
            border-radius: 16px;
            margin: 0 16px 16px 16px;

            p{
                margin: 0;
                padding: 8px 16px 0 16px;
            }

            div{
                margin: 0 16px 16px 16px;
                padding: 0 0 8px 0;
                background-color: #3F4F49;
                border-radius: 8px;
            }
        }
    }

    #Reservation-Form-Buttons-Container{
        display: flex;
        width: 100%;
        justify-content: space-between;

        button{
            margin: 0;
        }

        .Cancel-Reservation{
            background-color: $ErrorRed;
            border: $ErrorRed 2px solid;
        }
        .Cancel-Reservation:hover{
            border: $ErrorRed 2px solid;
            background-color: transparent;
            color: $ErrorRed;
        }
    }
}

// @media (min-width: $LowerGeneralPageMinColumnRequirement) {
// }

@media (min-width: $HigherGeneralPageMinColumnRequirement) {
    .Main-Reservations-Section {
        max-width: $HigherGeneralvMaxWidth;
        margin: 0 auto
    }
}